.image-wrapper {
    position: relative;
    padding-bottom: 150.67%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panel-heading {
    min-height: 56px;
}

#title {
    text-align: center;
}
